        <div id="flash-card">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } else if (success && success.length > 0) {%>
                <div class="alert alert-success" role="alert"><%= success %></div>
            <% } else if (errorList && errorList.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errorList.forEach( function(error) { %>
                        <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>
        </div>